#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #E0F4FF;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .swiper {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .swiper {
    width: 95%;
  }

  .swiper-slide {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    font-size: 14px;
  }
}